<!DOCTYPE html>
<html>
<head>
    <%- include ../common/head.ejs %>
</head>
<body>
    <h1><%=user.name%>님의 회원정보 입니다</h1>
    <p>가입일 : <%= user.reg_date%></p>

    <form action="/user/update?no=<%=user.no%>" method="POST">
        <p>
            id : <input type="text" name="id" value="<%=user.id%>">
        </p>
        <p>
            pw : <input type="password" name="pw" value="<%=user.pw%>">
        </p>
        <p>
            이름 : <input type="text" name="name" value="<%=user.name%>">
        </p>
        <p>
            나이 : <input type="number" name="age" value="<%=user.age%>">
        </p>
        
        <p>
            성별<br>
            남 : <input type="radio" name="gender" value="M" <%=user.gender=='M' ? 'checked' : ''%>>
            여 : <input type="radio" name="gender" value="F" <%=user.gender=='F' ? 'checked' : ''%>>
        </p>
        <p>
            <!-- 폼테크 안에 버튼타입이 submit 이면 무조건 submit 함.-->
            <button type="submit" id="update_btn">회원정보 수정</button>
            <button type="button" id="delete_btn">회원 삭제</button>

        </p>
    </form>

    <h3>메뉴</h3>
    <ul>
        <li><a href="/">홈으로</a></li>
    </ul>

    <script>
        $("#delete_btn").on("click", function(){
            if(confirm('정말로 삭제하시겠습니까?')){
                location.href = '/user/delete?no=<%=user.no%>'
            }
        })

        $("#update_btn").on("click", function(){
            if(confirm('정말로 수정 하시겠습니까?')){
                return true;
            }else{
                return false;
            }
        })
    </script>
</body>
</html>