<!DOCTYPE html>
<html>
<head>
    <%- include ../common/head.ejs %>
    <style>
        .gb_container{
            width: 500px;
        }
        .gb_container .input-group-append{
            cursor: pointer;
        }
        .gb_list{
            width: 100%;
        }
        .gb_list li{
            margin: 15px 0px;
            background-color: lightgray;
        }

    </style>
</head>

    <%- include ../common/nav.ejs %>

<body>
    <h1><%=doc.name%>님의 회원정보 입니다</h1>
    <p>가입일 : <%=doc.reg_date%></p>

    <form action="/user/update?no=<%=doc.no%>" method="POST">
        <p>
            id : <input type="text" name="id" value="<%=doc.id%>" disabled>
        </p>
        <p>
            pw : <input type="password" name="pw" value="<%=doc.pw%>">
        </p>
        <p>
            이름 : <input type="text" name="name" value="<%=doc.name%>">
        </p>
        <p>
            나이 : <input type="number" name="age" value="<%=doc.age%>">
        </p>
        <p>
            성별<br>
            남 : <input type="radio" name="gender" value="M" <%= doc.gender=='M' ? 'checked' : '' %>>
            여 : <input type="radio" name="gender" value="F" <%= doc.gender=='F' ? 'checked' : '' %>>
        </p>
        <p>
            <%if(user.no==doc.no){ %>
                <button type="submit" id="update_btn">회원정보 수정</button>
                <button type="button" id="delete_btn">회원 삭제</button>
            <%} %>
        </p>
    </form>

    <div class="gb_container">
        <!-- <textarea id="gb_content"></textarea>
        <button id="gb_submit">방명록 작성</button> -->
        <div class="input-group">
            <textarea class="form-control gb_content" aria-label="With textarea"></textarea>
            <div class="input-group-append" data-toggle="tooltip" data-placement="top" title="방명록 작성 버튼 입니다.">
                <span class="input-group-text gb_submit">박명록 작성</span>
            </div>
        </div>
        <div class="gb_list">
            <ul>
                <% for(var gb of gbs){ %>
                    <li class="item" data-no="<%=gb.no%>" data-content="<%=gb.content%>" data-writer="<%=gb.writer_no%>">
                        <span class="text">
                            <%=gb.content%>
                        </span>
                        | <%=gb.writer_id%> | <%=gb.reg_date%>
                            <% if(user.no === gb.writer_no){ %>
                                <button class="gb_list_delete">삭제</button>
                                <button class="gb_list_modify">수정</button>
                            <% } %>
                        </li>
                <% } %>
            </ul>
        </div>
    </div>

    <%- include ../common/js.ejs %>

    <script>

        $('.gb_submit').click(function(){
            var content = $('.gb_content').val()
            if(!content){
                alert('방명록을 입력하세요!')
                return
            }
            $.ajax({
                url : '/user/guestbook',
                method : 'post',
                data : {
                    content : content,
                    user_no : '<%=doc.no%>'
                },
                dataType : 'json',
                success : function(res){
                    if(res.success){
                        $('.gb_content').val('')
                        var html = `<li class="item">
                                        <span class="text">${content}</span>| <%=user.id%> | 방금 |
                                    <button class="gb_list_delete">삭제</button>
                                    <button class="gb_list_modify">수정</button>
                                    </li>`
                        $('.gb_list ul').prepend(html)
                    }
                },
                error : function(err){
                    console.log(err)
                    alert('서버오류!')
                }
            })
        })
        
        //삭제
        $("body").on("click", ".gb_list_delete", function(){
            // confirm("삭제하시겠습니까?")
            var item = $(this).parents(".item")
            $.ajax({
                url : '/user/guestbook/delete',
                method : 'get',
                data : {
                    no : item.data('no'),
                    writer_no : item.data('writer')
                },
                dataType : 'json',
                success : function(res){
                    if(res.success){
                        item.remove()
                    }
                },
                error : function(err){
                    console.log(err)
                    alert('서버오류!')
                }
            })
        })
        

        //수정
        $("body").on("click", ".gb_list_modify", function(){
            var val = $(this).parents(".item").find(".text").text().trim()
            var html = "<input type='text' class='gb_modify_input' value='"+val+"'>"
            html += "<input type='hidden' class='origin_list' value='"+val+"'>"
            $(this).parents(".item").find(".text").html(html)
            $(this).hide()
            var btn = "<button class='gb_modify_com'>수정완료</button>\
                        <button class='gb_modify_cancel'>수정취소</button>"
            $(this).parent().append(btn)
        })


        //수정완료
        $("body").on("click", ".gb_modify_com", function(){
                var item = $(this).parents('.item')
                var gbModify = $(".gb_modify_input").val()
                if(gbModify.length<1){
                    alert("수정된 댓글을 입력하세요")
                    return
                }
                var htmlM = `<li class="item">
                                    <span class="text">${gbModify}</span>| <%=user.id%> | 방금 |
                                <button class="gb_list_delete">삭제</button>
                                <button class="gb_list_modify">수정</button>
                                </li>`
                $.ajax({
                    url : '/user/guestbook/update',
                    method : 'post',
                    data : {
                        content : gbModify,
                        no : item.data('no'),
                        writer_no : item.data('writer'),
                    },
                    dataType : 'json',
                    success : function(res){
                        if(res.success){
                            item.html(htmlM)
                        }
                    },
                    error : function(err){
                        console.log(err)
                        alert('서버오류!')
                    }
                })
        })

        
        // 수정취소
        $("body").on("click", ".gb_modify_cancel", function(){
            var origin = $(this).parents(".item").data('content')
            var gbModifyCancel = `<span class="text">${origin}</span>| <%=user.id%> | 방금 |
                                  <button class="gb_list_delete">삭제</button>
                                  <button class="gb_list_modify">수정</button>`
            $(this).parents(".item").html(gbModifyCancel)
        })     

        


        $('#delete_btn').on('click', function(){
            if(isMine() && confirm('정말로 삭제하겠습니까?')){
                location.href = '/user/delete?no=<%=doc.no%>'
            }
        })

        $('form').on('submit', function(){
            if(isMine() && confirm('정말로 수정하시겠습니까?')){
                return true
            }else{
                return false
            }
        })
        
        function isMine(){
            if('<%=user.no%>'!=='<%=doc.no%>'){
                alert('본인 정보만 수정/삭제가 가능합니다')
                return false
            }
            return true
        }
    </script>
</body>
</html>