<!DOCTYPE html>
<html>
<head>
    <%- include ../common/head.ejs %>
    

</head>
    <%- include ../common/nav.ejs %>

<body>
        <title>글 읽기</title>

    <h3>제목 : <%=view.title%></h3>

    <p>
       내용 : <%=view.content%>
    </p>
    

    
    

    <%- include ../common/js.ejs %>
</body>
</html>


<script>

</script>
